<main class="main">
    <h1>Address Form</h1>
    <article>
        <form #addressForm="ngForm" (ngSubmit)="addAddress(addressForm)" class="form">
            <section class="addressRow">
                <label for="name" class="label">Name</label>
                <input class="input" type="text" id="name" name="name" [(ngModel)]="name">
            </section>
            <section class="addressRow">
                <label for="addressLine1" class="label">Address Line 1</label>
                <input class="input" type="text" id="addressLine1" name="addressLine1" [(ngModel)]="addressLine1">
            </section>
            <section class="addressRow">
                <label for="addressLine2" class="label">Address Line 2</label>
                <input class="input" type="text" id="addressLine2" name="addressLine2" [(ngModel)]="addressLine2">
            </section>
            <section class="addressRow">
                <label for="addressLine3" class="label">Address Line 3</label>
                <input class="input" type="text" id="addressLine3" name="addressLine3" [(ngModel)]="addressLine3">
            </section>
            <section class="addressRow">
                <label for="city" class="label">City</label>
                <input class="input" type="text" id="city" name="city" [(ngModel)]="city">
            </section>
            <section class="addressRow">
                <label for="state" class="label">State</label>
                <input class="input" type="text" id="state" name="state" [(ngModel)]="state">
            </section>
            <section class="addressRow">
                <label for="zipcode" class="label">Zipcode</label>
                <input class="input" type="number" id="zipcode" name="zipcode" [(ngModel)]="zipcode">
            </section>
            <section class="addressRow">
                <button>Submit</button>
            </section>
      
        </form>
    </article>


</main>
