<article>
    <h2>List of Addresses</h2>
    <ul>
        
        <li *ngFor="let address of addressList; index as i" >
            <form  #addressItemForm="ngForm" (ngSubmit)="handleSubmit($event, i)" class="form">
            <p>Name: {{address.name}}</p>
            <fieldset><legend>Address</legend>
            <p>{{address.addressLine1}}</p>
            <p>{{address.addressLine2}}</p>
            <p>{{address.addressLine3}}</p>
            </fieldset>
            <p>City: {{address.city}}</p>
            <p>Zipcode: {{address.zipcode}}</p>
            <section class="buttons">
                <button name="delete" >Delete</button>
                <button name="edit">Edit</button>
            </section>
            </form>
        </li>

    </ul>
</article>
            

  
   
